/* Align Icon to left */
#amenities .items .item {
    display: flex;
    text-align: center;
}

/* Position Icon */
#amenities .items .item i {
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom: 0;
}

#contact .map {
    flex: 2;
}